body {
  background: #f4f4f4;
}
.container {
  margin-left: 20px;
  margin-right: 20px;
}
.container header {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}
.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}
.table-header {
  display: flex;
  justify-content: space-between;
}
